<div class="main">
  <div class="container">
    <h2>Hi there, I'm <span class="important">Rick Kreikebaum</span>. I'm a full-stack web developer with my awesome work visible here</h2>
    <a href="#">View my Work</a>
  </div>
</div>