<<<<<<< HEAD
=======
<div class="header">
  <div class="container">
    <ul class="nav">
      <li><a href="#">Welcome</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <p>Rick Kreikebaum</p>
    </ul>
  </div>
</div>

>>>>>>> de3a8b8db04609f60f7dc54b6742bf3c6b938c45
<div class="main">
  <div class="container">
    <h2>Hi there, I'm <span class="important">Rick Kreikebaum</span>. I'm a full-stack web developer with my awesome work visible here</h2>
    <a href="#">View my Work</a>
  </div>
</div>