<div class="header">
  <div class="container">
    <ul class="nav">
      <li><a href="#">Welcome</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <p>Rick Kreikebaum</p>
    </ul>
  </div>
</div>

<div class="main">
  <div class="container">
    <h2>Hi there, I'm <span class="important">Rick Kreikebaum</span>. I'm a full-stack web developer with my awesome work visible here</h2>
    <a href="#">View my Work</a>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p>
      <ul class="social">
        <li><a href="#"><img src="https://image.ibb.co/ciGhu5/003_linkedin_logo.png" /></a></li>
        <li><a href="#"><img src="https://image.ibb.co/bCcY1k/002_social.png" /></a></li>
        <li><a href="#"><img src="https://image.ibb.co/fJm47Q/001_twitter_logo.png" /></a></li>
    </ul>
    </p>
    <p>Icons made by <a href="http://www.simpleicon.com/">SimpleIcon</a> from www.flaticon.com</p>
    <p>&copy 2017 Kreikey da Bomb</p>
  </div>
</div>
